In [0]:
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
from scipy.spatial.distance import cdist

# from tf.keras.models import Sequential  # This does not work!
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense, GRU, Embedding,Bidirectional,LSTM,GlobalMaxPool1D,Dropout
from tensorflow.python.keras.optimizers import Adam
from tensorflow.python.keras.preprocessing.text import Tokenizer
from tensorflow.python.keras.preprocessing.sequence import pad_sequences
from tensorflow.python.keras.models import save_model
import csv 
import pandas as pd 
from IPython.display import display, HTML
import h5py
from random import shuffle

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
%cd '/content/drive/My Drive/clickbait17-train-170331'

/content/drive/.shortcut-targets-by-id/1YESJbDd6eN2iexOWB-D2VlRKRYRQQa7T/clickbait17-train-170331

In [0]:
truth_data = pd.read_json("truth.jsonl", lines=True)
truth_data.head()
#testing data
Ttruth_data = pd.read_json("Ttruth.jsonl", lines=True)

In [0]:
clickbait_data = pd.read_json("instances.jsonl", lines=True)
clickbait_data.head()
#test data
Tclickbait_data = pd.read_json("Tinstances.jsonl", lines=True)

In [7]:
truth_data.head()

                                      truthJudgments  ...  truthMode
0                          [1.0, 1.0, 1.0, 1.0, 1.0]  ...   1.000000
1  [0.33333333330000003, 0.0, 0.33333333330000003...  ...   0.000000
2  [0.33333333330000003, 0.6666666666000001, 1.0,...  ...   0.000000
3  [0.0, 0.6666666666000001, 0.0, 0.3333333333000...  ...   0.333333
4                          [0.0, 0.0, 0.0, 0.0, 0.0]  ...   0.000000

[5 rows x 6 columns]

In [8]:
clickbait_data.head()

  postMedia  ...                                  targetDescription
0        []  ...  “Inexcusable” failures in the UK’s system for ...
1        []  ...  President Donald Trump has appointed pro-life ...
2        []  ...  President Trump won't be at this year's White ...
3        []  ...  The article is about Maru, a husky dog who has...
4        []  ...  The temporary suspension, which lasted ten min...

[5 rows x 9 columns]

In [0]:
data = pd.merge(clickbait_data,truth_data, on = 'id')
data.head()
Tdata = pd.merge(Tclickbait_data,Ttruth_data, on = 'id')

In [10]:
data

                                  postMedia  ... truthMode
0                                        []  ...  0.000000
1                                        []  ...  1.000000
2                                        []  ...  0.333333
3                                        []  ...  1.000000
4                                        []  ...  0.000000
...                                     ...  ...       ...
19533  [media/photo_804240867972304896.jpg]  ...  0.000000
19534                                    []  ...  1.000000
19535                                    []  ...  0.000000
19536  [media/photo_804133521023324160.jpg]  ...  0.000000
19537  [media/photo_804125377400553474.jpg]  ...  0.000000

[19538 rows x 14 columns]

In [11]:
data['postText']

0        [UK’s response to modern slavery leaving victi...
1                                           [this is good]
2        [The "forgotten" Trump roast: Relive his bruta...
3                   [Meet the happiest #dog in the world!]
4        [Tokyo's subway is shut down amid fears over a...
                               ...
19533    [Brazil soccer team and pilot's final intervie...
19534                                     [😱😱😱😱😱😱😱😱😱😱😱😱😱😱]
19535    [Frenchs Forest high school may have to make w...
19536                                     [Oh Jeff… #bruh]
19537    [Richard Sherman weighs in on Cam Newton’s str...
Name: postText, Length: 19538, dtype: object

In [12]:
data['postText'][0]

['UK’s response to modern slavery leaving victims destitute while abusers go free']

In [13]:
data['targetDescription'][0]

'“Inexcusable” failures in the UK’s system for dealing with modern slavery are\xa0leaving victims reduced to destitution while their abusers go free because they are not adequately supported to testify against them, an alarming report has warned.'

In [14]:
data.shape

(19538, 14)

In [0]:
df = pd.DataFrame({'label':data.truthClass, 'text':data.postText})

In [0]:
Tdf = pd.DataFrame({'label':Tdata.truthClass, 'text':Tdata.postText})

In [17]:
df.head()

          label                                               text
0  no-clickbait  [UK’s response to modern slavery leaving victi...
1     clickbait                                     [this is good]
2  no-clickbait  [The "forgotten" Trump roast: Relive his bruta...
3     clickbait             [Meet the happiest #dog in the world!]
4  no-clickbait  [Tokyo's subway is shut down amid fears over a...

In [0]:
# clean up 
# 2nd argument of replace must be str
def clean_up(label):
    label = label.replace("no-clickbait", "0")
    label = label.replace("clickbait", "1")
    return label

In [0]:
# convert to series and clean up the labels column
df["label"] = df.iloc[:,0].apply(clean_up)

In [0]:
l = []
for i in range(len(df)):
  l.append(int(df.iloc[:,0][i]))

In [0]:
df["label"] = l

In [22]:
df.head()

   label                                               text
0      0  [UK’s response to modern slavery leaving victi...
1      1                                     [this is good]
2      0  [The "forgotten" Trump roast: Relive his bruta...
3      1             [Meet the happiest #dog in the world!]
4      0  [Tokyo's subway is shut down amid fears over a...

In [0]:
t = []
for i in range(len(df)):
  t.append(df.iloc[:,1][i][0])

In [0]:
df["text"] = t

In [0]:
df['label'].value_counts()

0    14777
1     4761
Name: label, dtype: int64

In [0]:
Tdf['label'].value_counts()

no-clickbait    1697
clickbait        762
Name: label, dtype: int64

both datasets 1 and 2 are imbalanced since the number of non-clickbait tweets in datasets 1 and 2 are 2.1 and 3.1 times bigger than the number of clickbait tweets respectively.

In [0]:
#change df_trn and df_val
Tdf["label"] = Tdf.iloc[:,0].apply(clean_up)
l = []
for i in range(len(Tdf)):
  l.append(int(Tdf.iloc[:,0][i]))
Tdf["label"] = l

t = []
for i in range(len(Tdf)):
  t.append(Tdf.iloc[:,1][i][0])
Tdf["text"] = t

In [0]:
Tdf.head()

   label                                               text
0      0  Apple's iOS 9 'App thinning' feature will give...
1      0  RT @kenbrown12: Emerging market investors are ...
2      1  U.S. Soccer should start answering tough quest...
3      0  How theme parks like Disney World left the mid...
4      1  Could light bulbs hurt your health? One compan...

In [0]:
df_trn, df_val = Tdf, df

In [0]:
df_trn.shape, df_val.shape

((2459, 2), (19538, 2))

In [0]:
df_trn['text'][1]

'RT @kenbrown12: Emerging market investors are doing their best Monty Pythons--"Run away, run away"'

In [0]:
data_text = df_trn['text']

In [0]:
def tokenize(thresh = 5):
    count  = dict()
    idx = 1
    word_index = dict()
    for txt in data_text:
        words = process(txt)
        for word in words:
            if word in count.keys():
                count[word] += 1
            else:
                count[word]  = 1
    most_counts = [word for word in count.keys() if count[word]>=thresh]
    for word in most_counts:
        word_index[word] = idx
        idx+=1
    return word_index

In [0]:
import re
def process(txt):
    out = re.sub(r'[^a-zA-Z0-9\s]', '', txt)
    out = out.split()
    out = [word.lower() for word in out]
    return out

In [0]:
num_words = None
word_index = tokenize()
num_words = len(word_index)
print('length of the dictionary ',len(word_index))

length of the dictionary  1111

In [0]:
def getMax(data):
    max_tokens = 0 
    for txt in data:
        if max_tokens < len(txt.split()):
            max_tokens = len(txt.split())
    return max_tokens
max_tokens = getMax(df_trn['text'])

In [0]:
def create_sequences(data):
    tokens = []
    for txt in data:
        words = process(txt)
        seq = [0] * max_tokens
        i = 0 
        for word in words:
            start = max_tokens-len(words)
            if word.lower() in word_index.keys():
                seq[i+start] = word_index[word]
            i+=1
        tokens.append(seq)        
    return np.array(tokens)

In [0]:
x_train_tokens = create_sequences(df_trn['text'])

In [0]:
x_test_tokens = create_sequences(df_val['text'])

In [0]:
model = Sequential()
embedding_size = 8
model.add(Embedding(input_dim=num_words,
                    output_dim=embedding_size,
                    input_length=max_tokens,
                    name='layer_embedding'))

model.add(GRU(units=16, name = "gru_1",return_sequences=True))
model.add(GRU(units=8, name = "gru_2" ,return_sequences=True))
model.add(GRU(units=4, name= "gru_3"))
model.add(Dense(1, activation='sigmoid',name="dense_1"))
optimizer = Adam(lr=1e-3)
model.compile(loss='binary_crossentropy',
              optimizer=optimizer,
              metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/keras/initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [0]:
model.fit(x_train_tokens, df_trn['label'], validation_split=0.05, epochs=3, batch_size=32)

Train on 2336 samples, validate on 123 samples
Epoch 1/3
2336/2336 [==============================] - 8s 4ms/sample - loss: 0.6397 - acc: 0.6858 - val_loss: 0.6135 - val_acc: 0.6911
Epoch 2/3
2336/2336 [==============================] - 7s 3ms/sample - loss: 0.6012 - acc: 0.6901 - val_loss: 0.5913 - val_acc: 0.6911
Epoch 3/3
2336/2336 [==============================] - 7s 3ms/sample - loss: 0.5130 - acc: 0.7466 - val_loss: 0.5762 - val_acc: 0.6992

In [0]:
# Evaluate the model on the test data using `evaluate`
print('\n# Evaluate on test data')
results = model.evaluate(x_test_tokens, df_val['label'], batch_size=128)
print('test loss, test acc:', results)

# Evaluate on test data
19538/19538 [==============================] - 3s 167us/sample - loss: 0.4856 - acc: 0.7624
test loss, test acc: [0.48564924422202693, 0.7623605]

In [0]:
txt = ["Hello  Clickbait is the yashwant id s lewkd","Terrible movie","would","I like that movie"]
print(create_sequences(txt)[0])
pred = model.predict(create_sequences(txt))
print('\n prediction for \n',pred[:,0])

[ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 38 31  0  0  0  0]

 prediction for
 [0.554967 0.408303 0.455486 0.454243]

In [0]:
save_model(
    model,
    "keras.h5",
    overwrite=True,
    include_optimizer=True
)

In [0]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
layer_embedding (Embedding)  (None, 27, 8)             8888
_________________________________________________________________
gru_1 (GRU)                  (None, 27, 16)            1200
_________________________________________________________________
gru_2 (GRU)                  (None, 27, 8)             600
_________________________________________________________________
gru_3 (GRU)                  (None, 4)                 156
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 5
=================================================================
Total params: 10,849
Trainable params: 10,849
Non-trainable params: 0
_________________________________________________________________

In [0]:
!pip install tensorflowjs

Requirement already satisfied: tensorflowjs in /usr/local/lib/python3.6/dist-packages (1.6.0)
Requirement already satisfied: tensorflow-hub==0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflowjs) (0.7.0)
Requirement already satisfied: numpy>=1.16.4 in /usr/local/lib/python3.6/dist-packages (from tensorflowjs) (1.17.5)
Requirement already satisfied: PyInquirer==1.0.3 in /usr/local/lib/python3.6/dist-packages (from tensorflowjs) (1.0.3)
Requirement already satisfied: tensorflow-cpu==2.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflowjs) (2.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflowjs) (1.12.0)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflowjs) (0.2.2)
Requirement already satisfied: h5py>=2.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorflowjs) (2.8.0)
Requirement already satisfied: protobuf>=3.4.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-hub==0.7.0->tensorflowjs) (3.10.0)
Requirement already satisfied: prompt-toolkit==1.0.14 in /usr/local/lib/python3.6/dist-packages (from PyInquirer==1.0.3->tensorflowjs) (1.0.14)
Requirement already satisfied: Pygments>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from PyInquirer==1.0.3->tensorflowjs) (2.6.1)
Requirement already satisfied: regex>=2016.11.21 in /usr/local/lib/python3.6/dist-packages (from PyInquirer==1.0.3->tensorflowjs) (2019.12.20)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (3.1.0)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (1.0.8)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (1.1.0)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (0.34.2)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (0.9.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (0.1.8)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (1.27.1)
Requirement already satisfied: scipy==1.4.1; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (1.4.1)
Requirement already satisfied: tensorboard<2.2.0,>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (2.1.1)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (0.8.1)
Requirement already satisfied: tensorflow-estimator<2.2.0,>=2.1.0rc0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (2.1.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (1.11.2)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-cpu==2.1.0->tensorflowjs) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.4.0->tensorflow-hub==0.7.0->tensorflowjs) (45.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit==1.0.14->PyInquirer==1.0.3->tensorflowjs) (0.1.8)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (1.0.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (1.7.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (2.21.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (0.4.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (3.2.1)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (3.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (0.2.8)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (4.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (3.0.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow-cpu==2.1.0->tensorflowjs) (3.1.0)

In [0]:
!tensorflowjs_converter --input_format keras k.h5 my_model_as_tfjs1